.vscode
project/smp/results
**/__pycache__/**/*
cropped_384
project/smp/pipeline/*.sh
project/smp/pipeline/*.out
project/smp/experiments
project/smp/results
project/smp/old_models
project/smp/logs
project/smp/optuna
count_metrics.py
cropped_384.zip
test
test.py
notebooks/real_and_predicted_spikelets_plots/all_csv
notebooks/real_and_predicted_spikelets_plots/data_organization
notebooks/make_data_organizations/splits
notebooks/**/*.png
notebooks/**/*.zip
project/smp/pipeline/*.pkl
project/smp/pipeline/*.csv
project/smp/pipeline/*.png
project/smp/pipeline/infer
project/web/*.png
project/web/*.zip
project/web/*.csv
